<p-toast key="toast"></p-toast>
<p-confirmPopup></p-confirmPopup>

<p-dialog [(visible)]="displayDialog" [modal]="true">
  <p style="margin: 1em">
    Los datos de los productos son traídos de una API no modificable, por lo que
    los cambios no se guardarán
  </p>
  <p style="margin: 1em"><b>¿Desea continuar?</b></p>
  <div class="dialog-footer">
    <button
      type="button"
      pButton
      label="No"
      icon="pi pi-times"
      (click)="onCancel()"
      style="margin: 1em 0.5em"
      class="p-button-danger"
    ></button>
    <button
      type="button"
      pButton
      label="Sí"
      icon="pi pi-check"
      (click)="onConfirm()"
      style="margin: 1em 0.5em"
      class="p-button-success"
    ></button>
  </div>
</p-dialog>

<div class="login-container">
  <div class="progressSpinnerContainer" *ngIf="posts.length == 0">
    <p-progressSpinner styleClass="progressSpinner" />
  </div>
  <div class="posts-wrapper" *ngIf="posts.length > 0">
    <div class="posts-card">
      <div class="header">
        <div class="button-container">
          <div></div>
        </div>
      </div>

      <div class="header">
        <div class="button-container">
          <div>
            <button
              type="button"
              pButton
              pRipple
              icon="pi pi-file-excel"
              class="p-button-success"
              style="margin-right: 0.5em"
              pTooltip="XLS"
              tooltipPosition="top"
              (click)="exportToExcel()"
            ></button>
            <button
              type="button"
              pButton
              pRipple
              icon="pi pi-file-pdf"
              class="p-button-warning"
              style="margin-right: 0.5em"
              pTooltip="PDF"
              tooltipPosition="top"
              (click)="exportToPDF()"
            ></button>
          </div>
          <div>
            <button
              pButton
              label="Agregar"
              icon="pi pi-plus"
              type="button"
              (click)="openDialog((this.modeSelected = this.eMode.CREATE))"
              class="create-button"
              *ngIf="isAdmin"
            ></button>
            <span>
              <input
                #product
                [(ngModel)]="globalFilterValue"
                [ngModelOptions]="{ standalone: true }"
                type="text"
                pInputText
                class="filterInput"
                (input)="productsTable.filterGlobal(product.value, 'contains')"
                placeholder="Producto"
              />
              <i
                *ngIf="product.value !== ''"
                (click)="cleanFilters(product, productsTable)"
                style="cursor: pointer !important"
                class="pi pi-times"
              ></i>
            </span>
          </div>
        </div>
      </div>

      <p-table
        #productsTable
        [value]="posts"
        [responsive]="true"
        [scrollable]="true"
        [paginator]="true"
        [rows]="10"
        styleClass="p-datatable-gridlines"
        [rowsPerPageOptions]="[10, 25, 50, 100]"
        [tableStyle]="{ 'min-width': '20vw' }"
        [scrollHeight]="'calc(100vh - 15em)'"
        [globalFilterFields]="['title']"
      >
        <ng-template pTemplate="colgroup">
          <colgroup>
            <col id="col-1" style="width: auto" />
            <col id="col-2" style="width: auto" />
            <col id="col-3" style="width: auto" />
          </colgroup>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th scope="col" class="p-table-column">Producto</th>
            <th scope="col" class="p-table-column description-column">
              Descripción
            </th>
            <th scope="col"></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-post>
          <tr>
            <td>{{ post.title }}</td>
            <td class="p-table-column description-column">{{ post.body }}</td>
            <td>
              <div class="action-buttons">
                <button
                  pButton
                  type="button"
                  icon="pi pi-eye"
                  style="margin-left: 1em"
                  (click)="
                    openDialog((this.modeSelected = this.eMode.READ), post.id)
                  "
                ></button>
                <button
                  pButton
                  type="button"
                  icon="pi pi-pencil"
                  class="p-button-success"
                  (click)="
                    openDialog((this.modeSelected = this.eMode.UPDATE), post.id)
                  "
                  *ngIf="isAdmin"
                ></button>
                <button
                  pButton
                  type="button"
                  icon="pi pi-trash"
                  class="p-button-danger"
                  style="margin-right: 1em"
                  (click)="
                    openDialog(
                      (this.modeSelected = this.eMode.DELETE),
                      post.id,
                      $event
                    )
                  "
                  *ngIf="isAdmin"
                ></button>
              </div>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td [colSpan]="this.posts.length + 1">No hay productos</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
